<div class="padding">
    <div class="full col-sm-12">

        <div class="col-sm-12" id="featured">
            <div class="page-header text-muted col3-color">
                <a><h2>HTML - Troubleshooting</h2></a>
            </div>
        </div>

        <!-- content -->
        <div class="col-sm-12" id="featured">
            <div class="page-header text-muted">
                Browsers don't support HTML5
            </div>
        </div>

        <!--/top story-->
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>While a lot of the new stuff in HTML5 isn't widely supported, it's important to remember one of HTML5's core principles is compatibility, eg with current content. Apart from a few minor differences most of the HTML4/XHTML 1 spec is in HTML5. For the new parts of HTML5 (such as structural elements) support can often be added today via CSS and Javascript. Finally, modern browsers (and even IE) are implementing the HTML5 spec now. While full compliance will take a while, there's a lot that's already usable, and support is increasing.</p>
            </div>
        </div>

        <div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                IE doesn't support HTML5
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Internet Explorer is something of a rugged individualist, resisting 'trends' (like standards support) and doing things it's own way (cough .EOT cough). However as stated above because HTML5 is mainly a well-defined HTML4/XHTML 1 with sprinkles, all of the 'old stuff' still works. Unfortunately due to bugs, IE currently requires a Javascript hack to use new HTML5 structural elements. For other new parts of the spec, Microsoft has been largely silent, but the IE team has already implemented Cross-origin resource sharing and Web storage in IE8 (IE Team blog), which were both parts of HTML5 (and have been subsequently released as stand-alone specs). We can only hope that their well-deserved pride in implementing CSS2.1 completely carries over to HTML5 and other specs.</p>
            </div>
        </div>

        <div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                XHTML isn't the future!?
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>No, it's the present. XHTML2 may be dead, but nothing will stop the millions of current XHTML 1.x pages (and any you create in the future) from working. However this probably means it's a Good Idea<sup>TM</sup> to find out more about HTML5 at some stage</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                HTML5 spec isn't understandable/is overly complex
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>The HTML5 spec is being written primarily for 'implementors'-programmers who make web browsers and other tools to use the web. Unlike previous specifications, HTML5 is defining processing steps and error handling explicitly, which can be a little overwhelming if you're not a browser programmer. Luckily a majority of the spec is actually just the HTML4/XHTML1 you already know.</p>

		<p>Also, there are already many useful articles and resources for author information on HTML5, such as "A Preview of HTML5" by Lachlan Hunt on A List Apart, "HTML5 Reference" by Lachlan Hunt (a version of the spec specifically for authors) on w3.org, "HTML5: The Markup Language" by Mike<sup>TM</sup> Smith (a pared down spec that removes implementor details) on w3.org, and sites like HTML5 Doctor. You can also check out my humble HTML5 articles</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                HTML5 means ALL-CAPS element names
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>HTML5 is case-insensitive; both upper- and lower-case elements are permitted, even <!doctype html> Note that <!DOCTYPE html> is recommended just in case you ever need to use it in XHTML (which is case-sensitive)</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                HTML5 contains presentational elements
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Some 'presentational' elements from HTML4 have been retained. This is because they now have defined semantic meaning-legalese ('small print') and a span of text in an alternate voice or mood, like a word from another language, respectively.</p>

		<p>A few of the new structural elements can also be perceived as presentational, however the use of these elements should be dictated by their content and not their placement.</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                HTML5 isn't as strict/pure/semantic as XHTML1.x
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Also "HTML validators aren't as strict as the XHTML validator". While HTML5 is more forgiving of mistakes than XHTML sent with a XML mime type, almost everyone used the text/html mime type, and in that case XHTML was treated as strictly as HTML4 (or HTML5) by browsers. HTML5 actually defines element semantics more precisely than XHTML 1, and adds new semantic meanings and elements. HTML5 is also much more precisely defined, enabling better conformance checkers to be created, and current HTML5 validators (W3C, Validator.nu) actually seem to be a little stricter than the XHTML 1 validator.</p>
            </div>
        </div>
        <div class="col-sm-12" id="featured">
            <div class="page-header text-muted">
                <h5>Related</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 text-center col2-color">
                <a href="#/htmlDemo"><h4>Live Demo</h4>
                    <span class="glyphicon glyphicon-play"></span></a>
            </div>
            <div class="col-sm-4 text-center col1-color">
                <a href="#/htmlBestPractices"><h4>Best Practices</h4>
                    <span class="glyphicon glyphicon-ok"></span></a>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="page-header text-muted">

            </div>
        </div>
    </div>
    <!-- /col-9 -->
</div><!-- /padding -->
