<div class="padding">
    <div class="full col-sm-12">

        <div class="col-sm-12" id="featured">
            <div class="page-header text-muted col3-color">
                <a><h2>JavaScript - Troubleshooting</h2></a>
            </div>
        </div>

        <!-- content -->
        <div class="col-sm-12" id="featured">
            <div class="page-header text-muted">
               JavaScript Error Messages
            </div>
        </div>

        <!--/top story-->
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>How do you know whether a JavaScript error has occurred or not? Current browsers show no visible sign, so you need to navigate menu items or settings to locate error messages. You can view error messages in Chrome through the Tools menu, JavaScript Console; in Firefox, through the Tools menu, Web Developer, Browser Console</p>
		<p>If there are no JavaScript error messages or if the messages do not give a clear indication of the problem, read on for more clues.</p>
            </div>
        </div>

        <div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
               Common Sources of Problems 
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Mistakes and oversights in implementing JavaScripts may not always result in error messages, or the messages that do appear may be difficult to interpret. So we list some common sources of problems along with possible error messages they may generate.</p>
		
		
            </div>
        </div>

        <div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                Missing JavaScript files
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Be sure that required external JavaScript files are in place and that their script tags are in the proper order with path specified correctly. Otherwise, the result will be an error message such as: [something] is undefined, or Object expected, or [something] is not a function, or Object doesn't support this property or method. (There are other reasons that these error messages would be triggered besides missing JavaScript files though.)</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
               Missing DOM elements or problems with ID
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Check that HTML elements required by the code are in place with IDs specified according to instructions. IDs are case sensitive and must follow certain naming conventions for use in JavaScript.[2] Results of missing or unlocated DOM elements can vary. The code may fail silently or display an error message like: [something] is null.</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
              Missing or incorrect style specifications  
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Be sure that any style specifications required by the code are in place and consistent with instructions and example documents. The code may fail silently or display incorrectly without them.</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                Syntax errors introduced during implementation
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>It can be easy to introduce syntax errors into the code, for example, when adding images for rotation or content for tooltips. Fortunately, these will generate helpful JavaScript error messages. Read on for assistance in deciphering these error messages.</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
               Common Syntax Error Messages 
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>A few of the common syntax errors which may be inadvertently introduced during implementation are listed here along with their meaning and possible solutions.</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                Unterminated string constant (or literal)
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Check to see whether you have inserted a carriage return in the middle of a string variable value or array element, or deleted a quote, or have mismatched quote pairs. The line number in the error message will point you to the location.</p>
		<p>You can use double quotes or single quotes to enclose a string, but they must be in pairs. If you want an apostrophe to appear in your string enclosed in single quotes, put a backslash before the apostrophe.</p>
		<p>String variables may contain quoted HTML attributes, in which case it is easiest to use single quotes to enclose the variable content. Here is an example which also contains an apostrophe:
<code><pre>var msg = '&lt;div class="info"&gt;Here\'s the content.&lt;/div&gt;';</pre></code></p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                Expected ')' or missing ) after argument list
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Perhaps you have left out a comma between array elements, or inserted an unescaped apostrophe in an array element enclosed in single quotes.</p>
            </div>
        </div>
	<div class="col-sm-12" id="stories">
            <div class="page-header text-muted divider">
                Expected ']' or missing ] after argument list
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-10">
                <p>Same as above when using array literal syntax.</p>
            </div>
        </div>
	
        <div class="col-sm-12" id="featured">
            <div class="page-header text-muted">
                <h5>Related</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 text-center col2-color">
                <a href="#/jsDemo"><h4>Live Demo</h4>
                    <span class="glyphicon glyphicon-play"></span></a>
            </div>
            <div class="col-sm-4 text-center col1-color">
                <a href="#/jsBestPractices"><h4>Best Practices</h4>
                    <span class="glyphicon glyphicon-ok"></span></a>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="page-header text-muted">

            </div>
        </div>
    </div>
    <!-- /col-9 -->
</div><!-- /padding -->
